<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/header :: header" />
<body>
<div class="l_err" style="width: 100%; margin-top: 2px;"></div>
<form id="addform" name="addform" class="form-horizontal" method="post"
	th:action="@{/system/role/edit}">
		<section class="panel panel-default">
		<input name="id" type="hidden" th:value="${role.id}">
		<input name="resId" id="resId" type="hidden">
		<input name="txtUserSelect" id="txtUserSelect" type="hidden" th:value="${txtUserSelect}">
		<div class="panel-body col-sm-8">
			<div class="form-group">
				<label class="col-sm-3 control-label">角色名</label>
				<div class="col-sm-9">
					<input type="text" class="form-control checkacc"
						placeholder="请输入角色名" name="name" id="name" th:value="${role.name}" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">roleKey</label>
				<div class="col-sm-9">
					<input type="text" class="form-control checkacc"
						placeholder="请输入roleKey" name="roleKey" id="roleKey" th:value="${role.roleKey}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">用户组</label>	
				<div class="col-sm-9">
					<select id='user-selected' multiple='multiple'>
					  <option th:value='${us.id}' th:each="us:${userSelect}" th:text="${us.accountName}" selected="selected"></option>
					  <option th:value='${user.id}' th:each="user:${users}" th:text="${user.accountName}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">分配权限</label>
				<div class="col-sm-9">
					<ul id="pztree" class="ztree pztree col-sm-12"></ul>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">是否启用</label>
				<div class="col-sm-9">
					<input type="checkbox" class="js-switch" th:checked="${role.status}==0?false:'checked'"/>
					<input type="hidden" name="status" id="status" th:value="${role.status}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">描述</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" placeholder="请输入描述"
						name="description" id="description" th:value="${role.description}">
				</div>
			</div>
		</div>
	</section>
</form>
<script type="text/javascript" th:src="@{/static/js/system/role/edit.js}"></script>
<script th:inline="javascript">
var setting = {
		check: {
			enable: true
		},
		data : {
			simpleData : {
				enable : true,
				idKey: "id",
				pIdKey: "parentId"
			}
		},
		callback: {
			onCheck: onCheck,
		}
	};
	function onCheck(e, treeId, treeNode){
		var sNodes = zTree.getCheckedNodes(true);
		var resId = "";
		for(var i=0;i<sNodes.length;i++){
			resId += sNodes[i].id+",";
		};
		$("#resId").val(resId);
	}
	var zNodes = JSON.parse([[${permissions}]]);
	var zTree;
	$(document).ready(function() {
		zTree = $.fn.zTree.init($('#pztree'), setting, zNodes);
		//zTree.expandAll(true);
		zTree.setting.check.chkboxType = { 'Y' : 'ps', 'N' : 's' };
		var resId = '';
		$.ajax({
			type: 'get',
			url: '/system/resources/findRes',
			dataType: 'json',
			data: {'roleId' : $('input[name="id"]').val()},
			success: function(json){
				for (index in json) {
					if(json[index].id!=undefined){
						zTree.checkNode( zTree.getNodeByParam( 'id',json[index].id ), true ); 
						resId += json[index].id+",";
					}
					if(json[index].status == 0){
				    	zTree.hideNode(zTree.getNodeByParam( 'id',json[index].id ));
				    }
			 	}
			 	$('#resId').val(resId);
			}
		});
		
	})
	
	
	
	
	
	
</script>
</body>

</html>